@model Dydaktycznie.Models.Quiz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null && Model.Photo.Length > 0)
            {
                string imageBase64 = Convert.ToBase64String(Model.Photo);
                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64);
                <img src="@imageDataURL" alt="Quiz Photo" class="img-fluid" />
            }
            else
            {
                <p>No photo available.</p>
            }
        </dd>
        <dt class="col-sm-2">
            Author Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Email) <!-- Założyłem, że w modelu Quiz masz właściwość Author, która ma właściwość Email -->
        </dd>
    </dl>
</div>

@if (Model.QuizQuestions != null && Model.QuizQuestions.Any())
{
    <div>
        <h4>Questions</h4>
        <hr />
        @foreach (var question in Model.QuizQuestions)
        {
            <div>

                <a href="/QuizQuestions/Details/@question.QuizQuestionID"> <h5>@question.Question</h5></a>

                <ul>
                    @foreach (var answer in question.QuestionAnswers)
                    {
                        <li>@answer.Answer</li>
                    }
                </ul>

               
            </div>
        }
    </div>
}
else
{
    <p>
        Nie znaleziono pytań do tego quizu.
    </p>
}



<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
